.speakerChangeLabel {
  font-weight: bold;
}

.speakerChangeLabel::before {
  content: '';
  display: block;
}

.channelLabel {
  font-weight: bold;
}

.channelLabel::before {
  content: '';
  display: block;
}

.channelLabel::after {
  content: '';
  display: block;
}

.scrollBarStyle::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}

.scrollBarStyle::-webkit-scrollbar {
  width: 8px;
  border-left: 10px;
}

.scrollBarStyle::-webkit-scrollbar-thumb {
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: #999;
}

.blurOverlay {
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  background-color: #fff5;
}

.CookieConsent > div:last-child {
}
