.dashboard_container {
  height: 100%;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.skeleton {
  width: 100%;

  background-image: linear-gradient(270deg, #fafafa, #eaeaea, #eaeaea, #fafafa);
  background-size: 400% 100%;
  animation: loading 8s ease-in-out infinite;
}

@keyframes loading {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

.header_bar {
  height: 62px;
  background-color: var(--chakra-colors-smNavy-500);
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.dashboard {
  background-color: var(--chakra-colors-smNavy-200);
  height: 100%;
  flex: 1 1 auto;
  display: flex;
  flex-direction: row;
}

.dashboard_sidenav {
  background-color: var(--chakra-colors-smWhite-500);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid var(--chakra-colors-smBlack-180);
}

.dashboard_content {
  padding-left: clamp(0.5em, 5.6vw, 4em);
  padding-right: clamp(0.5em, 5.6vw, 4em);
  padding-bottom: 3em;
  display: flex;
  flex-direction: column;
  flex: 1;
}

@media screen and (max-width: 480px) {
  .dashboard_content {
    padding-left: 0em;
    padding-right: 0em;
  }

  .page_header {
    padding-left: 1.5em;
    padding-right: 1.5em;
  }
}

.dashboard_side_bar {
  display: flex;
  flex-direction: row;
  margin: 1.3em;
}

.dashboard_side_bar > * {
  margin-bottom: 1em;
}

h1 {
  padding: 0.5em 0;
  font-family: RMNeue-Bold;
}

.nav_menu {
  margin-top: 5em;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
}

.menu_elem {
  width: 100%;
  font-family: Matter-Medium;
  font-size: 1em;
  display: flex;
  padding: 0.3em 0 0.3em 0;
  cursor: pointer;
  background-clip: border-box;
  align-items: center;
  color: var(--chakra-colors-smNavy-400);
  white-space: nowrap;
}

.menu_elem.selected {
  border-right: 3px solid var(--chakra-colors-smBlue-500);
  color: var(--chakra-colors-smBlue-500);
}

.menu_elem > div:first-child {
  margin-right: 10px;
  width: 20px;
}

.menu_elem:hover {
  background-color: var(--chakra-colors-smNavy-100);
}

.description_text {
  font-family: RMNeue-Light;
  font-size: 1.2em;
  max-width: 600px;
  padding-bottom: 1em;
}

.flex_column {
  display: flex;
  flex-direction: column;
}

.sm_grid {
  border: 1px solid var(--chakra-colors-smNavy-270);
  background-color: var(--chakra-colors-smWhite-500);
  font-size: 0.9em;
}

.grid_header {
  font-family: 'RMNeue-Bold' !important;
  background-color: var(--chakra-colors-smNavy-250);
}

.sm_grid div {
  padding: 0.8em 1em 0.8em 1em;
  font-family: 'RMNeue-Light';
}

.grid_row_divider {
  grid-column: span 4;
  padding: 0px 1em 0px 1em !important;
}

.sm_panel {
  background-color: var(--chakra-colors-smWhite-500);
  border: 1px solid var(--chakra-colors-smBlack-180);
  border-radius: 2px;
  box-shadow: 4px 4px 7px #5a5d5f15;
  padding: 1.5em;
}

pre.code_block {
  padding: 1em !important;
}

pre.code_block > code {
  padding-right: 60px;
}

button[role='tab']:not(:first-child) {
  border-left: 1px solid var(--chakra-colors-smBlack-150);
}

.chakra-alert {
  border-radius: 2px !important;
}
