@font-face {
  font-family: "GibsonBold";
  src: url("/fonts/Gibson-Bold.otf");
}

@font-face {
  font-family: "GibsonLight";
  src: url("/fonts/Gibson-Light.otf");
}

@font-face {
  font-family: "GibsonSemiBold";
  src: url("/fonts/Gibson-SemiBold.otf");
}

@font-face {
  font-family: "GibsonRegular";
  src: url("/fonts/Gibson-Regular.otf");
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}


body {
  --main-teal: #5BB4AE;
  --main-blue: #004BAB;
  --main-navy: #001A3B;
}

body {
  background-color: #fbfbfb;
  font-family: GibsonRegular;
  height: 100%;
}

h1 {
  font-size: 36px;
  margin-bottom: 45px;
  margin-top: 100px;
}

.all_container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.all_container > .content {
  flex: 1 1 auto;
}


.all_container > .footer {
  height: 50px;
  background-color: #001A3B;
  text-align: center;
  color: #fff;
  display: grid;
  place-items: center;
  font-family: GibsonLight;
}

.main_container {
  height: 100%;
  width: 100%;
}



.shadow_box {
  background: #FFFFFF;
  border: 1px solid #EAEAEA;
  box-sizing: border-box;
  box-shadow: 0px 16px 16px rgba(0, 0, 0, 0.06);
  border-radius: 25px;
}

