* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  --main-teal: #5bb4ae;
  --main-blue: #004bab;
  --main-navy: #001a3b;
  --new-teal-dark: #2a827a;
  --new-blue-light: #5398fc;
}

body {
  background-color: #fbfbfb;
  font-family: 'RMNeue-Regular';
  height: 100%;
}

div,
span {
  font-family: 'RMNeue-Regular';
}

button {
  border: 0;
}

a {
  text-decoration: none;
  color: var(--chakra-colors-smBlue-500);
}

*[data-hover] {
  text-decoration: none !important;
}

#__next {
  height: 100%;
}

h1 {
  font-size: 36px !important;
  margin-bottom: 45px !important;
  margin-top: 50px !important;
}

h2 {
  font-size: 24px;
  margin-bottom: 25px;
}

h3 {
  font-size: 18px;
}

.all_container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.all_container > .content {
  flex: 1 1 auto;
  display: flex;
}

.flexColumnBetween {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
