name: Azure Static Web Apps CI/CD

on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened, closed]
    branches:
      - main

jobs:
  build_and_deploy_job:
    if: github.event_name == 'push' || (github.event_name == 'pull_request' && github.event.action != 'closed')
    runs-on: ubuntu-latest
    name: Build and Deploy Job
    env:
      TEST_IF_WORKS_ENV_VAR: 'zealous cliff'
      REDIRECT_URI: 'https://zealous-cliff-033a8b903.1.azurestaticapps.net/login/'
      POST_LOGOUT_REDIRECT_URI: 'https://zealous-cliff-033a8b903.1.azurestaticapps.net/login/'
      REDIRECT_URI_INVITATION: 'https://zealous-cliff-033a8b903.1.azurestaticapps.net/signup/'
      SIGNIN_POLICY: 'https://speechmaticsb2c.b2clogin.com/speechmaticsb2c.onmicrosoft.com/B2C_1A_SIGNIN_ONLY'
      INVITATION_SIGNUP_POLICY: 'https://speechmaticsb2c.b2clogin.com/speechmaticsb2c.onmicrosoft.com/B2C_1A_SIGNUP_INVITATION'
      RESET_PASSWORD_POLICY: 'https://speechmaticsb2c.b2clogin.com/speechmaticsb2c.onmicrosoft.com/B2C_1A_PASSWORDRESET'
      AUTHORITY_DOMAIN: 'speechmaticsb2c.b2clogin.com'
      POLICY_DOMAIN: 'speechmaticsb2c.onmicrosoft.com'
      AUTH_CLIENT_ID: '75a2952e-954e-4975-8a14-ef862a8e5a39'
      ENDPOINT_API_URL: 'https://speechmatics-mp-dev-ingress-a.westeurope.cloudapp.azure.com/v1'
      RUNTIME_API_URL: 'https://speechmatics-dev-ingress-a.westeurope.cloudapp.azure.com/v2'
      DEFAULT_B2C_SCOPE: 'https://speechmaticsb2c.onmicrosoft.com/michaltestapi/User.Read'
      CHARGIFY_PUBLIC_KEY: 'chjs_6nnmqcxmp4nrbnmf2spmwm63'
      CHARGIFY_SERVER_HOST: 'https://speechmatics-dev.chargify.com'
      RUNTIME_AUTH_TTL: 3600
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: true
      - name: Build And Deploy
        id: builddeploy
        uses: Azure/static-web-apps-deploy@v1
        with:
          skip_deploy_on_missing_secrets: true
          azure_static_web_apps_api_token: ${{ secrets.AZURE_STATIC_WEB_APPS_API_TOKEN_ZEALOUS_CLIFF_033A8B903 }}
          repo_token: ${{ secrets.GITHUB_TOKEN }} # Used for Github integrations (i.e. PR comments)
          action: 'upload'
          ###### Repository/Build Configurations - These values can be configured to match your app requirements. ######
          # For more information regarding Static Web App workflow configurations, please visit: https://aka.ms/swaworkflowconfig
          app_location: '/' # App source code path
          api_location: '' # Api source code path - optional
          output_location: 'out' # Built app content directory - optional
          ###### End of Repository/Build Configurations ######
        env:
          TEST_IF_WORKS_ENV_VAR: ${{ steps.builddeploy.outputs.static_web_app_url }}

  close_pull_request_job:
    if: github.event_name == 'pull_request' && github.event.action == 'closed'
    runs-on: ubuntu-latest
    name: Close Pull Request Job
    steps:
      - name: Close Pull Request
        id: closepullrequest
        uses: Azure/static-web-apps-deploy@v1
        with:
          azure_static_web_apps_api_token: ${{ secrets.AZURE_STATIC_WEB_APPS_API_TOKEN_ZEALOUS_CLIFF_033A8B903 }}
          action: 'close'