name: Azure Static Web Apps CI/CD

on:
  push:
    branches:
      - general_dev_jupiter
  pull_request:
    types: [opened, synchronize, reopened, closed]
    branches:
      - general_dev_jupiter

jobs:
  build_and_deploy_job:
    if: github.event_name == 'push' || (github.event_name == 'pull_request' && github.event.action != 'closed')
    runs-on: ubuntu-latest
    name: Build and Deploy Job
    env:
      REDIRECT_URI: 'https://dev-jupiter-portal.ui-internal.speechmatics.com/login/'
      POST_LOGOUT_REDIRECT_URI: 'https://dev-jupiter-portal.ui-internal.speechmatics.com/login/'
      REDIRECT_URI_INVITATION: 'https://dev-jupiter-portal.ui-internal.speechmatics.com/signup/'
      SIGNIN_POLICY: 'https://staging-identity.speechmatics.com/staging-identity.speechmatics.com/B2C_1A_SIGNIN_ONLY'
      INVITATION_SIGNUP_POLICY: 'https://staging-identity.speechmatics.com/staging-identity.speechmatics.com/B2C_1A_SIGNUP_INVITATION'
      RESET_PASSWORD_POLICY: 'https://staging-identity.speechmatics.com/staging-identity.speechmatics.com/B2C_1A_PASSWORDRESET'
      AUTHORITY_DOMAIN: 'staging-identity.speechmatics.com'
      POLICY_DOMAIN: 'staging-identity.speechmatics.com'
      AUTH_CLIENT_ID: '75a2952e-954e-4975-8a14-ef862a8e5a39'
      ENDPOINT_API_URL: 'https://staging-mp.speechmatics.com/v1'
      RUNTIME_API_URL: 'https://selfservice-asr.api.speechmatics.com/v2'
      DEFAULT_B2C_SCOPE: 'https://staging-identity.speechmatics.com/michaltestapi/User.Read'
      CHARGIFY_PUBLIC_KEY: 'chjs_dv9b2hv745b3dc5knfkddy64'
      CHARGIFY_SERVER_HOST: 'https://speechmatics-staging.chargify.com'
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: true
      - name: Build And Deploy
        id: builddeploy
        uses: Azure/static-web-apps-deploy@v1
        with:
          azure_static_web_apps_api_token: ${{ secrets.AZURE_STATIC_WEB_APPS_API_TOKEN_WITTY_COAST_02348BE03 }}
          repo_token: ${{ secrets.GITHUB_TOKEN }} # Used for Github integrations (i.e. PR comments)
          action: "upload"
          ###### Repository/Build Configurations - These values can be configured to match your app requirements. ######
          # For more information regarding Static Web App workflow configurations, please visit: https://aka.ms/swaworkflowconfig
          app_location: "/" # App source code path
          api_location: "" # Api source code path - optional
          output_location: "out" # Built app content directory - optional
          ###### End of Repository/Build Configurations ######

  close_pull_request_job:
    if: github.event_name == 'pull_request' && github.event.action == 'closed'
    runs-on: ubuntu-latest
    name: Close Pull Request Job
    steps:
      - name: Close Pull Request
        id: closepullrequest
        uses: Azure/static-web-apps-deploy@v1
        with:
          azure_static_web_apps_api_token: ${{ secrets.AZURE_STATIC_WEB_APPS_API_TOKEN_WITTY_COAST_02348BE03 }}
          action: "close"
